.general {
    width: 100%;
    height: 100%;
}

.cont-usuarios {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "id nombre foto";
    grid-auto-rows: auto;
    justify-self: center;
    width: 50%;
    background-color: rgba($color: #00d192, $alpha: 0.5);
}

.cont-id {
    grid-area: id;
}

.cont-nombre {
    grid-area: nombre;
}

.cont-foto {
    grid-area: foto;
}