<div class="contendor-leerusuarios">
    <div class="cont-tabla">
        <h1 class="titulo">Leer usuarios</h1>
        <div class="filanecabezados">
            <div class="tid">
                id
            </div>
            <div class="tnombre">
                Nombre
            </div>
            <div class="timagen">
                Foto
            </div>
        </div>
        <div class="filadatos">
            <div *ngFor="let user of usuarios" class="datosusuarios">
                <div>
                    {{ user.id }}
                </div>
                <div>
                    {{ user.nombre }}
                </div>
                <div>
                    {{ user.foto }}
                </div>
            </div>
        </div>
    </div>
</div>